<ion-view view-title="Telecumple">
    <ion-content>
        <div class="list card">
            <div class="item center">
                <a ui-sref="home.avatar"><img ng-src="img/{{avatar}}/personaje.png" spinner-on-load></a>
            </div>

            <div class="item item-text center">
                <h2>Mensaje de estado<br /> del personaje</h2>
            </div>
            <button class="button button-full button-positive" ng-click="goTomas()">
                Pastillero
            </button>

            <button class="button button-full button-positive" ng-click="goSeguimiento()">
                Seguimientos
            </button>


        </div>
    </ion-content>
</ion-view>
