


<ion-view title="Users" ng-init="initUsers()">
	<ion-content>



    <div class="card">

       <button class="button button-calm button-block" ui-sref="addUsers">
          Nuevo usuario
       </button>

       <ion-list>
         <ion-item class="item-remove-animate item-icon-right" ng-repeat="user in users" href="#/users/medicamento/{{user.id}}">
            <h2>{{user.name}} </h2>
						<span ng-show="{{user.suspend}}">Suspendido </span>
            <i class="icon ion-chevron-right icon accesory"></i>

         </ion-item>
       </ion-list>

		 </div>

	  <button class="button button-calm button-block" ui-sref="selectMed">
						Seleccionar medicamento
		 </button>

		 <button class="button button-calm button-block" ui-sref="tomas">
				Tomas
		 </button>

		 <button class="button button-calm button-block" ng-click="notification()">
				New notification
		 </button>

		 <button class="button button-calm button-block" ng-click="getNotifications()">
				Get notifications
		 </button>

		 <button class="button button-calm button-block" ng-click="cancelNotifications()">
				Cancel notifications
		 </button>



    </ion-content>
</ion-view>
