
<div class="list">
  <!--<div class="error-container last-error-container" ng-show="formMed.name.$error && formMed.$submitted" ng-messages="formMed.name.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica el medicamento</div>
  </div>
   <label class="item item-input">-->

  <div class="tituloMedicamento">
      <div class="item item-divider">
        {{parent.user.name}} Medicamento 1
      </div>
      <div class="item item-text-wrap">
        Descripción del medicamento
      </div>
  </div>

  <div class="item item-input">
    <label>
      <span class="input-label">Nombre</span>
    </label>
    <input type="text" name="name" ng-model="$parent.user.name" placeholder="Name" required />
  </div>


  <div class="error-container last-error-container" ng-show="formMed.date_ini.$error && formMed.$submitted" ng-messages="formMed.date_ini.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica la fecha de inicio de tratamiento</div>
  </div>
  <div class="item item-input">
    <label>
      <span class="input-label">Fecha inicio</span>
    </label>
    <input type="date" id="date_ini" name="date_ini" ng-model="$parent.user.date_ini" ng-readonly="$parent.edit" required class="calendar"  />
    <i class="icon-left ion-calendar mediano"> </i>
 </div>

  <div class="error-container last-error-container" ng-show="formMed.date_end.$error && formMed.$submitted" ng-messages="formMed.date_end.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica la fecha de finalización de tratamiento</div>
  </div>
  <div class="item item-input">
    <label>
      <span class="input-label">Fecha fin</span>
    </label>
    <input type="date" id="date_end" name="date_end" ng-model="$parent.user.date_end" required/>
    <i class=" icon-left ion-calendar mediano"> </i>
  </div>


<!--
  <div class="error-container last-error-container" ng-show="formMed.days.$error && formMed.$submitted" ng-messages="formMed.days.$error">
          <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica los días de las tomas</div>
  </div>
  <div class="item item-input">
      <label>
          <span class="input-label">Días</span>
      </label>
      <input type="text" name="days" ng-readonly="true" ng-model="$parent.user.days" ng-click="openDaysForm($parent.user)" required />
      <i class="icon-left ion-chevron-right ion-ios-timer-outline mediano"> </i>
      <input type="hidden" ng-model="$parent.user.dayscodes" />
  </div>

  <div class="error-container last-error-container" ng-show="formMed.hoursString.$error && formMed.$submitted" ng-messages="formMed.hoursString.$error">
      <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica las horas de las tomas</div>
  </div>
  <div class="item item-input">
      <label>
        <span class="input-label">Horas</span>
      </label>
      <input type="text" name="hoursString" ng-readonly="true" ng-model="$parent.user.hoursString" ng-click="openHoursForm($parent.user.hours)" required />
      <i class="icon-left ion-ios-time mediano" > </i>
  </div>

-->

  <div class="error-container last-error-container" ng-show="formMed.units.$error && formMed.$submitted" ng-messages="formMed.units.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica las unidades</div>
  </div>
  <div class="item item-input">
    <label>
        <span class="input-label">Unidades</span>
    </label>
    <select class="ion-input-select" name="units" ng-options="unit as unit.label for unit in units track by unit.id" ng-model="$parent.user.units" required></select>
 </div>


 <div class="error-container last-error-container" ng-show="formMed.frequency.$error && formMed.$submitted" ng-messages="formMed.units.$error">
       <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica las unidades</div>
 </div>
 <div class="item item-input">
   <label>
       <span class="input-label">Periodicidad</span>
   </label>
  <select class="ion-input-select" name="frequency" ng-options="freq as freq.label for freq in frequency track by freq.id" ng-model="$parent.user.frequency"></select>
</div>


<div class="error-container last-error-container" ng-show="formMed.hour_ini.$invalid && formMed.$submitted" ng-messages="formMed.hour_ini.$error">
    <div class="error"><img class="cono" ng-src="img\cono.png"> Indica la hora de inicio</div>
</div>
<div class="item item-input">
  <label>
    <span class="input-label">Hora inicio</span>
  </label>
  <input type="time" name="hour_ini" ng-model="$parent.user.hour_ini" required />
</div>

  <div class="item item-toggle">
     Avisos
     <label class="toggle toggle-positive">
          <input type="checkbox" name="alarm" ng-model="$parent.user.alarm" ng-checked = "$parent.user.alarm?true:false">

           <div class="track">
                <div class="handle"></div>
            </div>
    </label>
  </div>



    <!--
    <p> test {{$parent.datetest | date:'dd-MM-yyyy'}} </p>
    -->



</div>
