
<div class="list">

  <label class="item item-input">
    <textarea placeholder="Insctucciones de toma" name="instructions" ng-model="$parent.user.instructions"></textarea>
  </label>

  <div class="error-container last-error-container" ng-show="formMed.date_ini.$error && formMed.$submitted" ng-messages="formMed.date_ini.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica la fecha de inicio de tratamiento</div>
  </div>
  <div class="item item-input">
    <label>
      <span class="input-label">Fecha inicio</span>
    </label>
    <input type="date" id="date_ini" name="date_ini" ng-model="$parent.user.date_ini" ng-readonly="$parent.edit" required class="calendar"  />
    <i ng-show="!$parent.edit"class="icon-left ion-calendar mediano"> </i>
 </div>

  <div class="error-container last-error-container" ng-show="formMed.date_end.$error && formMed.$submitted" ng-messages="formMed.date_end.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica la fecha de finalización de tratamiento</div>
  </div>
  <div class="item item-input">
    <label>
      <span class="input-label">Fecha fin</span>
    </label>
    <input type="date" id="date_end" name="date_end" ng-model="$parent.user.date_end" required/>
    <i class=" icon-left ion-calendar mediano"> </i>
  </div>

   <div class="error-container last-error-container" ng-show="formMed.units.$error && formMed.$submitted" ng-messages="formMed.units.$error">
         <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica las unidades</div>
   </div>
   <div class="item item-input">
     <label>
         <span class="input-label">Unidades</span>
     </label>
     <input type="text" class="ion-input-select" name="units" ng-model="$parent.user.units.label" ng-click="openUnidadesForm($parent.user)" ng-readonly="true" required />
  </div>

  <div class="error-container last-error-container" ng-show="formMed.frequency.$error && formMed.$submitted" ng-messages="formMed.frequency.$error">
        <div ng-message="required" class="error"><img class="cono" ng-src="img\cono.png"> Indica la periodicidad</div>
  </div>
  <div class="item item-input">
    <label>
        <span class="input-label">Periodicidad</span>
    </label>
    <input type="text" class="ion-input-select" name="frequency" ng-model="$parent.user.frequency.label" ng-click="openPeriodicidadForm($parent.user)"ng-readonly="true" required/>
  </div>

  <div class="error-container last-error-container" ng-show="formMed.hour_ini.$invalid && formMed.$submitted" ng-messages="formMed.hour_ini.$error">
      <div class="error"><img class="cono" ng-src="img\cono.png"> Indica la hora de inicio</div>
  </div>
  <div class="item item-input">
    <label>
      <span class="input-label">Hora inicio</span>
    </label>
    <input type="time" id="hour_ini" name="hour_ini" ng-model="$parent.user.hour_ini" required />
  </div>

  <div class="item item-input" ng-show="$parent.showclave" >
    <label>
        <span class="input-label">Clave educativa </span>
    </label>
    <input type="text" class="ion-input-select" name="clave" ng-model="$parent.user.clave.label" ng-click="openClaveForm($parent.user)"ng-readonly="true"/>

  </div>

  <div class="item item-toggle">
     Avisos
     <label class="toggle toggle-positive">
          <input type="checkbox" name="alarm" ng-model="$parent.user.alarm" ng-checked = "$parent.user.alarm?true:false">

           <div class="track">
                <div class="handle"></div>
            </div>
    </label>
  </div>
</div>
